/* SCSS HEX */
$fandango-pink: #d55d92ff;
$mulberry-crayola: #c05299ff;
$byzantine: #ac46a1ff;
$purpureus: #973aa8ff;
$violet-ryb: #822fafff;
$purple: #6d23b6ff;
$purple-2: #6411adff;
$blue-violet-color-wheel: #571089ff;
$blue-violet-color-wheel-2: #47126bff;
$xiketic: #0b050fff;
$raisin-black: #151217ff;
$raisin-black-2: #2a282cff;

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #d55d92ff,
  #c05299ff,
  #ac46a1ff,
  #973aa8ff,
  #822fafff,
  #6d23b6ff,
  #6411adff,
  #571089ff,
  #47126bff,
  #0b050fff
);
$gradient-right: linear-gradient(
  90deg,
  #d55d92ff,
  #c05299ff,
  #ac46a1ff,
  #973aa8ff,
  #822fafff,
  #6d23b6ff,
  #6411adff,
  #571089ff,
  #47126bff,
  #0b050fff
);
$gradient-bottom: linear-gradient(
  180deg,
  #d55d92ff,
  #c05299ff,
  #ac46a1ff,
  #973aa8ff,
  #822fafff,
  #6d23b6ff,
  #6411adff,
  #571089ff,
  #47126bff,
  #0b050fff
);
$gradient-left: linear-gradient(
  270deg,
  #d55d92ff,
  #c05299ff,
  #ac46a1ff,
  #973aa8ff,
  #822fafff,
  #6d23b6ff,
  #6411adff,
  #571089ff,
  #47126bff,
  #0b050fff
);
$gradient-top-right: linear-gradient(
  45deg,
  #d55d92ff,
  #c05299ff,
  #ac46a1ff,
  #973aa8ff,
  #822fafff,
  #6d23b6ff,
  #6411adff,
  #571089ff,
  #47126bff,
  #0b050fff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #d55d92ff,
  #c05299ff,
  #ac46a1ff,
  #973aa8ff,
  #822fafff,
  #6d23b6ff,
  #6411adff,
  #571089ff,
  #47126bff,
  #0b050fff
);
$gradient-top-left: linear-gradient(
  225deg,
  #d55d92ff,
  #c05299ff,
  #ac46a1ff,
  #973aa8ff,
  #822fafff,
  #6d23b6ff,
  #6411adff,
  #571089ff,
  #47126bff,
  #0b050fff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #d55d92ff,
  #c05299ff,
  #ac46a1ff,
  #973aa8ff,
  #822fafff,
  #6d23b6ff,
  #6411adff,
  #571089ff,
  #47126bff,
  #0b050fff
);
$gradient-radial: radial-gradient(
  #d55d92ff,
  #c05299ff,
  #ac46a1ff,
  #973aa8ff,
  #822fafff,
  #6d23b6ff,
  #6411adff,
  #571089ff,
  #47126bff,
  #0b050fff
);
