<h1>{{ title }}</h1>

<form [formGroup]="form">
  <app-input label="Titulo" [control]="getField('title')"></app-input>
  <app-input label="Descrição" [control]="form.get('description')"></app-input>
  <app-switch-button label="Promocional" [control]="form.get('promotional')"></app-switch-button>
</form>

<div class="btns-wrapper">
  <app-button text="Voltar" context="outline" (clicked)="return()"></app-button>
  <app-button text="{{ buttonText }}" context="full" (click)="submit()"></app-button>
</div>
