:host {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;

  h1 {
    margin: 0 0 30px 0;
  }

  form {
    width: 100%;
  }

  .btns-wrapper {
    margin: 50px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    app-button {
      width: 48%;
    }
  }
}
